# React / Node
node_modules/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*

#fastapi
.env
__pycache__/
*.pyc
fastapi/Include/
fastapi/Lib/
fastapi/share/
fastapi/pyvenv.cfg
fastapi/Scripts/*
!fastapi/Scripts/stocks/
!fastapi/Scripts/requirements.txt
!fastapi/Scripts/activate.bat

# VS Code
.vscode/

#backend
backend

# OS files
.DS_Store
Thumbs.db